/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent; /* Background color for the header */
    box-shadow: none;
    z-index: 1000;
    position: fixed;
    width: 100%;/* Subtle shadow for depth */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #006400; /* Dark green color for the logo text */
  }

  .logo img {
    height: 100px;
    width: 100px;
    border-radius: 70px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Space between navigation links */
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff; /* Default link color */
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .navbar a:hover {
    color: #fff; /* Dark green color on hover */
  }
  
  .navbar a.active {
    color: #fff; /* Dark green color for active link */
    font-weight: bold; /* Emphasize the active link */
  }
  
  