.chat-room-flex {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  padding: 1rem 0.5rem;
}

.message-unread {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ccc;
}

.chat-room-flex p {
  margin: 0;
}

.chat-room-flex:hover {
  background-color: #eeeeee;
}

.chat-room-user {
  font-size: 1rem;
}

.chat-room-message {
  font-size: 0.9rem;
  color: #7c7b7b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
