/* Footer.css */

.footer {
  /* Navy blue background color */
  display: flex;

  align-items: center;
  justify-content: center;
  color: #000; /* White text color */
  text-align: center;
  padding: 1.2rem 0; /* Vertical padding */
  width: 100%;
}
