/* Footer.css */

.footer {
 /* Navy blue background color */
    color: #000; /* White text color */
    text-align: center;
    padding: 15px 0; /* Vertical padding */
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  