* {
  box-sizing: border-box;
}

.spinner-background {
  position: absolute;
  inset: 0;
  z-index: 500;
  background-color: #f8f9fa;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  padding: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: cyan;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spinner-Frames 1s infinite linear;
}
@keyframes spinner-Frames {
  to {
    transform: rotate(1turn);
  }
}

.homepage-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.homepage-headers-container {
  position: absolute;
  top: 15rem;
}

.homepage-header {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.homepage-subheader {
  font-size: 2rem;
}

.searchform {
  display: flex;
  width: 100%;
  max-width: 50rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.searchform-input {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.searchform-title-input {
  flex: 2;
}

.searchform-postcode-input {
  flex: 1;
  max-width: 10rem;
}

.searchform-submit-button {
  color: white;
  background-color: red;
}

.bookList-container {
  display: flex;
  gap: 0.5rem;
}

.bookcard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 212, 218, 0.3);
  padding: 1rem 2.3rem;
  border-radius: 5px;
}

.bookcard-image {
  width: 10rem;
}

.bookcard-title {
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
}

.bookcard-condition {
  margin: 0.2rem;
  align-self: start;
}

.bookcard-owner {
  margin: 0.2rem;
  align-self: start;
}
